.dialog-title {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.promotion-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 8px;
}

/* Responsive nháº¹ */
@media (max-width: 600px) {
  .row {
    grid-template-columns: 1fr;
  }
}
