<footer class="footer">
  <div class="footer-container">
    <div class="footer-grid">

      <div class="footer-col">
        <h4>Shop điện tử</h4>
        <p>Chuyên cung cấp thiết bị điện tử chính hãng, giá tốt.</p>
        <div class="footer-contact">
          <span><i class="fa fa-phone"></i> 0345 972 181</span>
          <span><i class="fa fa-envelope"></i>{{' tranductam274@gmail.com'}}</span>
        </div>
      </div>

      <div class="footer-col">
        <h4>Giới thiệu</h4>
        <a href="#">Về chúng tôi</a>
        <a href="#">Tầm nhìn</a>
        <a href="#">Hệ thống cửa hàng</a>
        <a href="#">Liên hệ</a>
      </div>

      <div class="footer-col">
        <h4>Hỗ trợ</h4>
        <a href="#">Chính sách bảo hành</a>
        <a href="#">Đổi trả</a>
        <a href="#">Hướng dẫn mua hàng</a>
        <a href="#">Thanh toán</a>
      </div>

      <div class="footer-col">
        <h4>Kết nối</h4>
        <div class="footer-social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      © Shop TTStore. All rights reserved.
    </div>
  </div>
</footer>
