<div class="container mt-4">
  <h2 class="text-center">Cập Nhật Sản Phẩm</h2>

  <form [formGroup]="createProduct" (ngSubmit)="update()" novalidate>

    <div class="form-row">
      <div class="form-group">
        <label>Tên sản phẩm</label>
        <input type="text" class="form-control" formControlName="productName">
      </div>

      <div class="form-group">
        <label>Giá</label>
        <input type="number" class="form-control" formControlName="price">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Mô tả sản phẩm</label>
        <textarea rows="7" class="form-control" formControlName="description"></textarea>
      </div>

      <div class="form-group">
        <label>Loại sản phẩm</label>
        <select class="form-select" formControlName="idType">
          <option value="">-- chọn loại --</option>
          <option *ngFor="let t of productType" [value]="t.idType">
            {{ t.nameType }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Khuyến mãi</label>
        <select class="form-select" formControlName="idPromotion">
          <option value="">-- chọn khuyến mãi --</option>
          <option *ngFor="let p of promotion" [value]="p.idPromotion">
            {{ p.namePromotion }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Chọn ảnh</label>
        <input type="file" multiple accept="image/*" (change)="onFileSelect($event)">
      </div>
    </div>
    <div class="d-flex flex-wrap gap-2 mt-3">
      <img *ngFor="let img of previewImages" [src]="img" width="120" class="img-thumbnail">
    </div>

    <div class="form-row buttons">
      <button type="button" class="btn btn-cancel" (click)="cancel()"> Hủy</button>
      <button type="submit" class="btn btn-submit" [disabled]="createProduct.invalid">
        Lưu Thay Đổi
      </button>
    </div>

  </form>
</div>
