<div class="order-wrapper" *ngIf="billList.length !== 0">
  <h2 class="title">Đơn hàng của tôi</h2>
  <div class="order-card" *ngFor="let b of billList; let i = index">
    <div class="order-header">
      <span class="index">
        Đơn #{{ billList.length - i }}
      </span>
      <span class="date">{{ b.dateFounded | date:'HH:mm:ss dd/MM/yyyy' }}</span>
    </div>

    <div class="order-body">

      <div class="row">
        <span class="label">Người nhận:</span>
        <b class="value">{{ b.received }}</b>
      </div>

      <div class="row">
        <span class="label">SĐT:</span>
        <b class="value">{{ b.phone }}</b>
      </div>

      <div class="row">
        <span class="label">Địa chỉ:</span>
        <b class="value">{{ b.address }}</b>
      </div>

      <div class="row">
        <span class="label">Thanh toán:</span>
        <b class="value">{{ b.paymentMethods }}</b>
      </div>

      <div class="row">
        <span class="label">Tổng tiền:</span>
        <b class="value price">
          {{ numToString(b.totalMoney) }}<sup>đ</sup>
        </b>
      </div>

      <div class="row">
        <span class="label">Trạng thái:</span>
        <span class="value">
          <span class="status processing" *ngIf="b.status === 1">
            Đang xử lý
          </span>
          <span class="status success" *ngIf="b.status === 2">
            Thành công
          </span>
          <span class="status cancel" *ngIf="b.status === 0">
            Đã huỷ
          </span>
        </span>
      </div>

    </div>

    <div class="order-actions">
      <button class="btn btn-warning btn-sm" (click)="xem(b.idBill)">Xem chi tiết</button>
      <button style="margin-left: 10px;" *ngIf="b.status === 1" class="btn btn-danger btn-sm" (click)="cancel(b.idBill)">Huỷ đơn</button>
    </div>
  </div>
</div>

<div class="empty" *ngIf="billList.length === 0">
    <i class="fa fa-shopping-cart empty-icon"></i>
    <h5>Đơn của bạn đang trống</h5>
    <p>Hãy chọn thêm sản phẩm để mua sắm nhé</p>
    <a routerLink="/" class="btn btn-warning text-white">
      Quay lại trang chủ
    </a>
  </div>
